---
import PreviewCard from "./preview-card.astro";
import { getCollection } from "astro:content";
import 'swiper/css';
const products = await getCollection("products");
---


<div class="swiper">
    <div class="swiper-wrapper">
        {
            products.map((product) => {
                const { slug, data } = product.data;
                const { id, name, description, previewImg } = data;
                return (
                    <div class="swiper-slide py-18">
                        <PreviewCard 
                            id={id}
                            slug={slug}
                            name={name}
                            description={description}
                            imageUrl={previewImg}
                        />
                    </div>
                );
            })
        }
    </div>
</div>
